*.egg-info
*.mo
*.py[cod]
*.so
.cache
.coverage
.DS_Store
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.testmondata
.tox
/example.DemoModel.xls
/manage.py
__pycache__
bin
build
db.sqlite3
develop-eggs
dist
docs/_build
eggs
htmlcov
lib
lib64
nosetests.xml
output/*.html
output/*/index.html
parts
pip-log.txt
sdist
var
~build
