*.egg
*.egg-info
*.mo
*.py[cod]
*.so
.cache
.coverage
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
__pycache__
bin
build
develop-eggs
dist
docs/_build
eggs
htmlcov
lib
lib64
nosetests.xml
output/*.html
output/*/index.html
parts
pip-log.txt
sdist
var
~build
/manage.py
