[run]
branch = True
source = excel_data_sync
include =
plugins =
    django_coverage_plugin

omit =

[paths]
source =
        src/

[html]
directory = ~build/coverage

[report]
fail_under = 95
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    pragma: nocover
    pragma: no-cover
    # Don't complain about missing debug-only code:
    if settings.DEBUG
    raise NotImplementedError
